// here we add some custom styles we need 

nav{
    ul li{
        display: inline;
        padding-right: 10px;
    }
}

.containerMain{
    max-width: 990px;
    margin: auto;
    text-align: center;
}

input {
    margin: 5px 0px;
}